// Colors

$color-primary: hsl(180, 29%, 50%);

$color-background: hsl(180, 52%, 96%);
$color-filter-tablets: hsl(180, 31%, 95%);
$color-dark-cyan: hsl(180, 8%, 52%);
$color-very-dark-cyan: hsl(180, 14%, 20%);

$color-white: hsl(0, 0%, 100%);

// RESPONSIVE BREAKPOINTS
$bp-mobile: 375px;
$bp-small: 620px;
$bp-medium: 720px;
$bp-desktop: 1440px;

// Font
$font-family: "League Spartan", sans-serif;
