@import "./styles/variables";

.app {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;

  &__header {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100px;
    background-image: url("../public/assets/bg-header-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $color-primary;

    @media only screen and (max-width: $bp-small) {
      height: 140px;
      background-image: url("../public/assets/bg-header-mobile.svg");
    }
  }

  &__filter {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-end;
    justify-self: center;
    margin-bottom: -25px;
  }

  &__jobs {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    margin-top: 60px;
  }
}
